body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #481D24;
    background-color: #E3D7CA;
}

.headerText{
    font-size: 75px;
    text-align: center;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;  
}

.coffeeCard{
    float: left;
}

.form-control{
    width: 10%;
    padding: 5%;
}

.form-group{
    width: 90%;
    margin: 5%;
}

.input--wide{
    margin: 15px;
}

.Coffee-Title{
    text-align: center;
    font-size: 3em;
}

.coffeeBrand{
    padding: 1%;
}

.type_OfCoffee{
    padding: 1%
}

.flavor{
    padding: 1%
}

.rating{
    padding: 1%
}

.actorPics{
    padding: 1%
}

.newReviewButtonBox{
    display: flex;
    justify-content: center;
}

.searchBar{
    margin: 0.5%;
    padding: 0.5%;
}

.detailsCard{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}

.editFormCard{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.highlighted{
    border: #FFF275 10px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quizBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.normal-image{
    display: flex;
    justify-content: center;
    width: 300px;
    height: 300px;
}

.quiz-answer{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 2%;
    
}

.resultsButton{
    display: flex;
    justify-content: center;
}

.quizResultsStyling{
text-align: center;
font-size: 5em;
}

.coffeeRoastTitle{
    text-align: center;
}

.coffeeFlavorTitle{
    text-align: center;
}

.coffeeActorTitle{
    text-align: center;
}

.brightCard{
    border: #FFF275 10px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.normal-image{
    display: flex;
    border: 
}

.sectionQuiz{
    justify-content: center;
    text-align: center;
}